@import "includes/menu/aside.scss";
@import "includes/table/table.scss";
@import "../includes/input/input.scss";
@import "../fonts.scss";


main
{
  margin-top: 90px;
}

.section--doc
{
  @include textDoc;
  margin-left: 360px;
  text-align: left;
  min-height: 550px;

    .block--doc
    {
      box-shadow: var(--card-box-shadow);
      padding-bottom: 40px;
      .item--doc
      {
        display: none;

        .tittle--doc
        {
          @include bigText;
          display: flex;
          align-items: center;
          height: 48px;
          width: 100%;
          padding-left: 57px;
          margin-top:0px;
          margin-bottom: 40px;
          box-sizing: border-box;
          background-color: var(--color-orange-20);
          color: var(--color-orange-100);
        }

        .bold
        {
          @include titleFooter;
          font-size: 16px;
        }
        .text--doc
        {
          padding-left: 57px;
          padding-right: 100px;
          box-sizing: border-box;
        }
        .list--doc.intern
        {
          margin-bottom: 10px;
        }
        .list--doc
        {
          padding-left: 57px;
          padding-right: 100px;
          margin-bottom: 40px;
          box-sizing: border-box;
          .title-list--doc
          {
            @include titleFooter;
            margin-bottom: 19px;
            color: var(--color-green-100);
          }
          .item-list--doc
          {
            position: relative;
            padding-left: 26px;
            margin-bottom: 10px;
            span
            {
              color: var(--color-green-100);
              font-weight: bold;
            }
          }
          .item-list--doc::before
          {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 10px;
            height: 8px;
            width: 8px;
            background-color: var(--color-green-50);
            border-radius: 100%;
          }
        }

      }
      .item--doc.active
      {
        display: block;
      }
    }

}

.block--content
{
  padding-left: 30px;
  padding-right: 30px;
  p
  {
    span
    {
      @include label;
    }
  }
}
.item--doc
{
  .block--content:last-child
  {
    margin-bottom:63px;
  }
}

.block--row
{
  display: flex;
  justify-content: space-around;
  margin-bottom: 22px;
  .item--info
  {
    display: flex;
    flex-direction: column;
    width: 100%;
    .input
    {
      @include label;
      margin-top: 13px;
    }
  }
  .card--info
  {
    p
    {

    }
    .card--item
    {
      @include bigText;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 258px;
      height: 98px;
      border: 1px solid var(--color-black-20);
      box-shadow: var(--card-box-shadow);
      box-sizing: border-box;
      border-radius: var(--card-border-radius);
      color: var(--color-black-50);
      span
      {
        @include bigText;
        color: var(--color-orange-100);
      }
    }
  }
}

.item--doc:first-child
{
  .tittle--doc
  {
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
  }
}