table
{
  width: 100%;
  border-collapse: collapse;
  thead
  {
    tr
    {
      background-color: #fff;

      th
      {
        min-width: 100px;
        padding: 1% 5%;
        box-sizing: border-box;
        border: 1px solid var(--color-black-100);
      }
    }
  }
  tbody
  {
    tr
    {
      background-color: #fff;

      td
      {
        width: auto;
        max-width: 150px;
        padding: 1% 5%;
        box-sizing: border-box;
        border: 1px solid var(--color-black-100);
      }
    }
  }
}
