<footer>
    <div class="section--social">
        <div class="logo">
        </div>
        <div class="block--network">
            <ul>
                <li><a id="twitter" href=""></a></li>
                <li><a id="facebook" href=""></a></li>
                <li><a id="linkdin" href=""></a></li>
            </ul>
        </div>
    </div>
    <div class="section--info-footer">
        <div class="block--info-footer">
            <ul>
                <li class="footer--title">Navigation</li>
                <li><a href="">Get started</a></li>
                <li><a href="">Features</a></li>
                <li><a href="">Pricing</a></li>
            </ul>
        </div>
        <div class="block--info-footer">
            <ul>
                <li class="footer--title">My account</li>
                <li><a href="">Login</a></li>
                <li><a href="">Sign up</a></li>
            </ul>
        </div>
        <div class="block--info-footer">
            <ul>
                <li class="footer--title">Contact</li>
                <li>julien.wgtz@gmail.com</li>
                <li>27 rue du progrès, 93100, Montreuil</li>
                <li>02.19.29.39.29</li>
            </ul>
        </div>
    </div>
</footer>