@import "../../fonts.scss";

footer
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 380px;
  width: 100%;
  background-color: var(--color-green-20);
  .section--social
  {
    display: flex;
    flex-direction: column;
    .logo
    {
      display: block;
      width: 150px;
      height: 150px;
      background-image: url("../../../images/logo.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .block--network
    {
      ul
      {
        display: flex;
        li
        {
          display: block;
          width: 50px;
          height: 50px;
          background-color: #AAAAAA;
        }
      }
    }
  }
  .section--info-footer
  {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 200px;
    .block--info-footer
    {
      min-width: 150px;
      .footer--title
      {
        @include titleFooter;
      }
      li
      {
        color: var(--color-green-100);
        a
        {
          color: var(--color-green-100);
        }
      }
    }
  }
}

@media screen and (max-width: 600px){
  footer
  {
    .section--info-footer
    {
      width: 100%;
      .block--info-footer
      {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 30px;
        ul
        {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .footer--title
        {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media screen and (min-width: 601px){
  footer
  {
    .section--info-footer
    {
      width: 70%;
      .block--info-footer
      {
        .footer--title
        {
          margin-bottom: 30px;
        }
      }
    }
  }
}