{% extends 'base.html.twig' %}
{% block title %}Admin Tonny{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block body %}
    {{ parent() }}
    {% include '/admin/includes/aside.html.twig' %}
    <section>
        {% block section %}

        {% endblock %}
    </section>
{% endblock %}
