@import 'colors.css';
@import 'reset.css';
@import 'variables.css';
@import 'fonts.scss';

body
{
    @include text;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    color: var(--color-black-100);
    background-color: var(--color-background);
}

main
{
    width: 100%;
    box-sizing: border-box;
}

@media screen and (min-width: 401px)
{
    main
    {
        padding: 100px 75px;
    }
}

@media screen and (max-width: 400px)
{
    main
    {
        padding: 100px 15px;
    }
}