:root
{
    --color-background: #F6F6F6;
    --color-orange-100: #FF7963;
    --color-orange-50: #FFBCB1;
    --color-orange-20: #FFE4E0;
    --color-green-100: #00707D;
    --color-green-50: #99C6CB;
    --color-green-20: #E6F1F2;
    --color-black-100: #414141;
    --color-black-50: #878787;
    --color-black-20: #DEDEDE;
    --color-white: #FFFFFF;
}