@import "../fonts.scss";

main
{
  h2
  {
    @include h2;
    margin: 0;
    color: var(--color-orange-100);
  }

  section
  {
    text-align: center;
    margin-bottom: 150px;
  }

  .section--welcome
  {
    display: flex;
    flex-wrap: wrap;
    .block--text
    {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      min-width: 350px;
      h2
      {
        @include text;
      }
      p
      {
        @include bigText;
        max-width: 660px;
        span{
          color: var(--color-orange-100);
        }
      }
    }
    .block-illu
    {
      min-width: 300px;
      height: 400px;
      background-color: #99C6CB;
    }
  }
  .section--joinUs
  {
    div
    {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 40px 0px;
      background-color: var(--color-green-100);
      color: var(--color-white);
      h2
      {
        color: var(--color-white);
      }
      p
      {
        text-align: center;
        width: 65%;
        max-width: 650px;
      }
      a
      {
      }
    }
  }
}

.section--option
{
  .block--text
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    p
    {
      max-width: 850px;
    }
  }
  .block--card
  {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .card
    {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 480px;
      height: 620px;
      margin-top: 50px;
      box-shadow: var(--card-box-shadow);
      border-radius: var(--card-border-radius);
      h3
      {
        @include h3;
        margin-top: 48px;
      }
      p
      {
        @include text;
        margin-top: 20px;
        margin-bottom: 65px;
        color: var(--color-orange-100);
        .price
        {
          @include h3;
        }
      }
      ul
      {
        li
        {
          @include label;
          height: 27px;
          margin-bottom: 30px;
        }
        li:last-child
        {
          margin-bottom: 70px;

        }
      }

    }
  }
}

@media screen and (max-width: 920px){
  .section--welcome
  {
    .block--text
    {
      align-items: center;
      width: 100%;
    }
    .block-illu
    {
      width: 100%;
      margin-top: 40px;
    }
  }
}
@media screen and (min-width: 921px){
  .section--welcome
  {
    .block--text
    {
      align-items: start;
      width: 60%;
    }
    .block-illu
    {
      width: 40%;
    }
  }
}

