@import "../fonts.scss";
@import "../includes/input/input.scss";

main.register
{
  padding: 100px 0px 0px 0px;
}

.section--register
{
  display: flex;
  flex-wrap: wrap;
  text-align: inherit;
  margin-bottom: 0;
  .block__left
  {
    min-width: 250px;
    padding: 30px;
    box-sizing: border-box;
  h2
    {
      @include h2;
      color: var(--color-black-100);
    }
    p
    {
      @include bigText;
      color: var(--color-orange-100);
    }
    form
    {
      .form--row
      {
        display: flex;
        justify-content: start;
        width: 100%;
        margin-bottom: 30px;
        .block--form
        {
          display: flex;
          flex-direction: column;
          width: 100%;
          .form-check
          {
            display: flex;
            align-items: center;
            width: 100%;
            input
            {
              margin-right: 15px;
            }
          }
        }
        .block--form_2
        {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-left: 15px;
        }
        .block--form_2:first-child
        {
          margin: 0;
          margin-right: 15px;
        }
        label
        {
          @include label;
        }
        p
        {
          @include label;
          color: var(--color-black-100);
          a
          {
            color: var(--color-orange-100);
          }
        }
      }
    }
    .form--row.space
    {
      justify-content: space-between;
    }
  }
  .block__right
  {
    min-width: 250px;
    background-color: var(--color-orange-100);
    background-image: url("../../images/register/register_illu.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 1070px){
  .block__left
  {
    width: 100%;
  }
  .block__right
  {
    width: 100%;
    height: 350px;
    background-position: 0px 35%;
  }
}

@media screen and (min-width: 1071px){
  .block__left
  {
    width: 50%;
  }
  .block__right
  {
    width: 50%;
    background-position: center;
  }
}